<div class="col-md-3 left_col">
  <div class="left_col scroll-view">

    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><img src="/assets/images/logo_ufsc.png" style="height: 45px;" /> <span>UFSC
          - <span style="font-size: 18px">Araranguá</span> </span></a>
    </div>
    <div class="clearfix"></div>

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <div class="clearfix"></div>
        <ul class="nav side-menu">
          <li class=" "><a ui-sref="main"><i class="fa fa-home"></i> Principal </span></a></li>
          <li class=" "><a ui-sref="sensor_explorer"><i class="fa fa-book"></i> Leituras </span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
